@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body { 
    font-family: 'Merriweather', serif;
    background-image: url('../images/veer_dam.jpeg');
    background-size: cover;
    background-position: top center;
}
  
.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}
  
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
  
header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #B67102;
    
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}
  
header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}
  
main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
.heading {
    color: #FFFFFF;
    margin-bottom: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
.location .city {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}
  
.location .date {
    color: #FFFFFF;
    font-size: 16px;
}
  
.current .temp {
    color: #FFFFFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    cursor: pointer;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}
  
.current .temp span {
    font-weight: 500;
}
  
 .current .weather {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}
  
.current .hi-low {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
/*--Button--*/
    .btn-secondary {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem;
    border-width: medium;
}
.btn-secondary {
    background-color:#e49d2c;
    color: #FEFEFE;  
    border: 0; 
}
.btn-secondaryt:hover,
.btn-secondary:focus{
    background-color: #FEFEFE! important;
    color:  #B93993! important;
}

/*--Form--*/

form {
    width: 500px;
    background: #81939c;
    padding: 20px 25px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(71, 69, 66);
}
form input, 
form textarea {
    font-size: 30px;
    font-weight: 300px;
    color: #003762;
    padding: 5px 5px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.form .input_field {
    margin-bottom: 10px;
}
.form .input_field input[type=text],
.form textarea {
    width: 100%;
    border: 2px solid #3e3e79;
    padding: 10px;
}
.form textarea {
    height: 80px;
    resize: none;
}
form .btn input[type='submit']{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #B67102;
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
}
.form #error_message {
    margin-bottom: 19px;
    padding: 0;
    background-color: #B67102;
    text-align: center;
    font-size: 13px;
    transition: all 0.6s ease-out;
}

  /* footer */

footer {
    background-color: #474747;
}
.footer-text {
      color: #FFFFFF;
}
footer h5 {
    color: #FFFFFF;
    letter-spacing: 2px;
}
.footer-header {
     margin-top: 20px;
}
  
.social-links {
    margin-top: 20px;
}
  
.social-links li a i {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #0a0007;
    transition: all 0.35s ease-in-out;
}
  
.social-links li a i:hover {
    background-color: #B67102;
}